<h2>Show document</h2>

<ul>

  <li>
    <strong>Body:</strong>
    <%= sanitize(@document.body, :basic_html)  %>
  </li>

  <li>
    <strong>Title:</strong>
    <%= sanitize(@document.title, :strip_tags) %></td>
  </li>

</ul>


<%= link "Edit", to: document_path(@conn, :edit, @document) %>
<%= link "Back", to: document_path(@conn, :index) %>
